* {
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #F1F1F1;
}

.background-box{
    background-color: white;
    padding: 20px;
    width: 80%;
    margin:auto ;
    border-radius: 10px;
}

.title-text{
    text-align: center;
    color: #BE5715;
}

.controls {
    margin-bottom: 20px;
    display: flex; 
    justify-content: space-between;
    padding: 0px 20px;
}

.controls button, .controls input {
    padding: 10px 20px;
    height: 40px;
    width: 150px;
}

.controls .search-bar{
    background-color: #ffffff;
    height: 40px;
    width: 800px;
}

/* Table */
.styled-table {
    width: 100%;
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 1.2em;
    text-align: left;
    background-color: #ffffff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border: 1px solid black;
}

.styled-table thead tr {
    background-color: #02224E;
    color: #ffffff;
    text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 1px solid #02224E;
}

.view-button {
    background-color: #02224E;
    color: #ffffff;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.view-button:hover {
    background-color: #BE5715;
}

.book-cover {
    width: 100px; 
    height: 150px; 
    object-fit: stretch;
    background-color: #f0f0f0;
}
/* Table */

.single-button{
    display: block; 
    margin: 0 auto;
}
