* {
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #F1F1F1;
}



.navBar{
    padding: 10px;
    width:100%;
    display: flex;
    background: #02224E;
    align-items: center;
    justify-content: space-between;  
}


.search-bar-div{
    position: relative;
    display: inline-block;
}

.search-icon {
    position: absolute;
    left: 10px; /* Adjust to position the icon inside the input */
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none; /* Make sure the icon doesn't block input */
    color: #aaa; /* Adjust color as needed */
}

.search-bar {
    padding: 10px;
    padding-left: 35px;
    width: 400px;
    border-radius: 5px;
    border: solid 2px rgb(191, 183, 183);
    background-color: #02224E;
    color: rgb(191, 183, 183);
    box-sizing: border-box;
}

.title{
    align-items: center;
    margin-left: 20px;
    color: #ffffff;
}
.transperant-bttn{
    cursor: pointer;
    margin-right: 5px;
    padding: 10px;
    color: #ffffff;
    background: #02224E;
    font-size: 0.8em;
    border: none;
    text-decoration: none;
}
.transperant-bttn:hover{
    color: #02224E;
    border-bottom: 2px solid #ffffff;
    background: #ffffff;
    
}

.title-link{
    text-decoration: none;
    color: #ffffff;
}


.navbar-links{
    font-family: sans-serif;
    color: white;
    text-decoration: none;
    font-size: 0.8rem;
    font-weight: bold;
    padding: 15px 20px;
    transition: color 0.3s ease, transform 0.3s ease;
    position: relative;
}

.navbar-links::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #BE5715;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out;
}

.navbar-links:hover::before {
    visibility: visible;
    transform: scaleX(1);
}

.navbar-links:hover {
    color: #BE5715;
    transform: translateY(-2px);
}
.navbar-links-select{
    font-family: sans-serif;
    color: white;
    background-color: #02224E;
    cursor: pointer;
    text-decoration: none;
    border: none;
    font-size: 0.8rem;
    font-weight: bold;
    padding: 15px 20px;
    transition: color 0.3s ease, transform 0.3s ease;
    position: relative;
}

.navbar-links-select::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #BE5715;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out;
}

.navbar-links-select:hover::before {
    visibility: visible;
    transform: scaleX(1);
}

.navbar-links-select:hover {
    color: #BE5715;
    transform: translateY(-2px);
}
.highlight{
    color: #BE5715;
}

.nav-links{
    gap: 10px;
    margin-right: 10px;
}

.container{
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    margin:auto;
}

.sub-heading{
    font-family: Verdana,Arial, Helvetica, sans-serif;
    font-size: 14px;
    margin-bottom: 18px;
    color: #BE5715;
}

.container h1{
    color:#000000;
    font-weight: normal;
    font-family: Verdana,Arial, Helvetica, sans-serif;
}

.container h1::after {
    content: "";
    display: block;
    width: 60px; /* Adjust the width of the line */
    height: 3px; /* Adjust the thickness of the line */
    background-color: #BE5715; /* Color of the line */
    margin: 8px auto 0; /* Space between the heading and the line */
    border-radius: 2px; /* Slightly round the edges of the line */
}



.dashboard {
    display: flex;
    margin: auto;
    margin-top:20px;
    max-width: 90%;
    width: 90%;
    border-radius: 8px;
    gap: 20px;
}

.card {
    text-align: center;
    display: flex;
    width: 350px;
    padding: 20px;
    padding-bottom: 20px;
    height: 100px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card .icon {
    width: 50%;
    font-size: 40px;
    margin-bottom: 10px;
}

.card .icon img{
    width:50px;
    height: 50px;
}

.card h3 {
    font-weight: 100;
    font-size: 18px;
    color: #555;
}

.card .value {
    width: 50%;
    font-size: 24px;
    font-weight: bold;
    color: #333;
}

.card.green { background-color: #e0f7e7; }
.card.blue { background-color: #e0f0ff; }
.card.pink { background-color: #ffe0f0; }
.card.orange { background-color: #ffe8cc; }




.footer {
    background-color: #ffffff;
    color: #02224E;
    padding: 20px;
    text-align: left;
    width: 100%;
    height:250px;
    justify-content: center;
    border-top: solid 1px #b1a9a9;
}

.footer .links {
    margin-bottom: 10px;
    margin-left: 10%;
}

.footer .links a {
    color: #02224E;
    text-decoration: none;
    margin-right: 20px;
    font-weight: bold;
}

.footer .links a:hover {
    text-decoration: underline;
}

.footer .copyright {
    margin-left: 10%;
    font-size: 14px;
    color: rgb(66, 64, 64);
}

@media (max-width: 768px) {
    .slider-container {
        height: 200px; 
    }
    
    .search-bar {
        width: 200px; 
    }
}

.low-stock-div{
    width: 90%;
    margin: auto
}


.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.header h2 {
    margin: 0;
    color: #333;
}

.header button {
    background-color: #9bb7de;
    color: white;
    font-weight: 400;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

table {
    background-color: white;
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 0px solid #e0e0e0;
}

th, td {
    padding: 12px;
    text-align: left;
}

th {
    background-color: #f4f7fc;
    color: #555;
}

.status-label {
    padding: 5px 10px;
    border-radius: 15px;
    font-size: 14px;
    font-weight: bold;
    display: inline-block;
  }
  
  .status-bad {
    background-color: #fff4eb;
    color: #ffab94;
  }
  
  .status-critical {
    background-color: #ffe7ea;
    color: #ff4756;
  }


.hero-section{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.hero{
    width: 45%;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: left;
}

.left {
    background-color: #f6c88c;
    color: white;
}

.right {
    background-color: #74c4c5;
    color: white;
}

h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

p {
    margin-bottom: 20px;
    font-size: 16px;
}

.book-images {
    margin-bottom: 20px;
}

.book-images img {
    width: 120px;
    margin-right: 10px;
}

.hero-button {
    padding: 12px 20px;
    background-color: white;
    color: #333;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.hero-button:hover {
    background-color: #e0e0e0;
}



.inventory-count{
    width: 90%;
    margin: auto;
}   

.inventory-item {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.inventory-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    min-width: 200px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.inventory-card p {
    margin-top: 10px;
    font-size: 18px;
    color: #02224E;
    margin-bottom: 5px;
}

.inventory-card span {
    font-size: 20px;
    color: #02224E;
    font-weight: bold;
}

.inventory-card img{
    width: 50px;
    height: 50px;
}

.inventory-card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}